Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.idea
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
node_modules/
coverage/
.nyc_output/
*.php
*.py
_*
*.sh


